<style>
    .grid .tick {
        stroke: #beace6;
        opacity: 0.7;
    }
    .grid path {
        stroke-width: 1;
    }
    div {
        font: 10px sans-serif;
    }

    div.lg30 {
        background-color: lightgrey;
        padding: 30px;
    }

    div.tac {
        text-align: center;
    }

    div.w880 {
        width: 880px;
    }

    div.h220{
        height: 220px;
    }

    table.w100p {
        width: 100%;
    }

    .bcblack {
        background-color: black;
    }

    .bcwhite {
        background-color: white;
    }

    .bcblue{
        background-color: #80c7e6;
    }
    .cwhite {
        color: white;
    }
    .cred {
        color: red;
    }
    .cyellow {
        color: yellow;
    }
    .cgreen {
        color: green;
    }

    .w20p {
        width: 20%;
    }

    .w26p {
        width: 26%;
    }

    .w37p {
        width: 37%;
    }

    .w33p {
        width: 33%;
    }

    .fwbolder {
        font-weight: bolder;
        font-size: 14px;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .bar {
        fill: steelblue;
    }

    td {
        border: 1px solid black;
        font-size: 14px;
        font-weight: bold
    }
</style>
<div class="panel panel-default pull-left lg30">
    <div class="panel-headin">
        <h1>Revenue Generation</h1>
    </div>
    <div  class="panel-body tac w880 h220">

        <table class="w100p">
            <tr>
                <td colspan="7"> All Customers</td>
            </tr>
            <tr class="bcblack cwhite">
                <td class="w26p"></td>
                <td colspan="3" class="w37p">
                    <table class="w100p">
                        <tr>
                            <td colspan="3">Sales</td>
                        </tr>
                        <tr>
                            <td class="w33p">Recent Quarter</td>
                            <td class="w33p">YTD</td>
                            <td class="w33p">Rolling 12-Mo.</td>
                        </tr>
                    </table>
                </td>
                <td colspan="3" class="w37p">
                    <table class="w100p">
                        <tr>
                            <td colspan="3">YOY Change</td>
                        </tr>
                        <tr>
                            <td class="w37p">Same &nbsp;&nbsp; Quarter</td>
                            <td >YTD</td>
                            <td class="w33p">Rolling 12-Mo.</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="bcblue">
                <td >Total Revenue</td>
                <td>$433M</td>
                <td>$914M</td>
                <td>$2053M</td>
                <td><i class="fa fa-arrow-right pull-left cyellow"></i>-0.1%</td>
                <td><i class="fa fa-arrow-up pull-left cgreen"></i>2.5%</td>
                <td><i class="fa fa-arrow-up pull-left cgreen"></i>6.0%</td>
            </tr>
            <tr class="bcwhite">
                <td>Mens</td>
                <td>$165M</td>
                <td>$325M</td>
                <td>$724M</td>
                <td><i class="fa fa-arrow-up pull-left cgreen"></i>26.7%</td>
                <td><i class="fa fa-arrow-up pull-left cgreen"></i>27.3%</td>
                <td><i class="fa fa-arrow-up pull-left cgreen"></i>33.0%</td>
            </tr>
            <tr>
                <td>Womens</td>
                <td>$268M</td>
                <td>$589M</td>
                <td>$1329M</td>
                <td><i class="fa fa-arrow-down pull-left cred"></i>-2.9%</td>
                <td><i class="fa fa-arrow-right pull-left cyellow" ></i>0.0%</td>
                <td><i class="fa fa-arrow-up pull-left cgreen"></i>3.1%</td>
            </tr>
            <tr class="bcwhite">
                <td>Online</td>
                <td>$52M</td>
                <td>$104M</td>
                <td>$245M</td>
                <td><i class="fa fa-arrow-up pull-left cgreen"></i>2.9%</td>
                <td><i class="fa fa-arrow-up pull-left cgreen"></i>4.4%</td>
                <td><i class="fa fa-arrow-up pull-left cgreen"></i>8.4%</td>
            </tr>
            <tr>
                <td>Store</td>
                <td>$382M</td>
                <td>$810M</td>
                <td>$1809M</td>
                <td><i class="fa fa-arrow-down pull-left cred" ></i>-1.9%</td>
                <td><i class="fa fa-arrow-up pull-left cgreen"></i>1.4%</td>
                <td><i class="fa fa-arrow-up pull-left cgreen"></i>4.7%</td>
            </tr>
            <tr class="bcwhite">
                <td>CRM</td>
                <td>$61M</td>
                <td>$134M</td>
                <td>$367M</td>
                <td><i class="fa fa-arrow-down pull-left cred" ></i>-10.4%</td>
                <td><i class="fa fa-arrow-down pull-left cred" ></i>-8.3%</td>
                <td><i class="fa fa-arrow-up pull-left cgreen"></i>11.5%</td>
            </tr>
            <tr>
                <td>non-CRM</td>
                <td>$373M</td>
                <td>$779M</td>
                <td>$1687M</td>
                <td><i class="fa fa-arrow-up pull-left cgreen"></i>1.7%</td>
                <td><i class="fa fa-arrow-up pull-left cgreen"></i>4.6%</td>
                <td><i class="fa fa-arrow-up pull-left cgreen"></i>4.8%</td>
            </tr>
        </table>
        <br/><br/>

    </div>
    <div class="bcwhite tac img-rounded">
        <h3>Company Sales</h3>
        <div id="svg1" class="w880 tac"></div>
    </div>


</div>

<div class="panel panel-default pull-right lg30">
    <div class="panel-headin">
        <h1>Acquisition and Retention</h1>
    </div>
    <div  class="panel-body tac w880 h220">

        <table class="w100p">
            <tr>
                <td colspan="3"> Market Customers</td>
            </tr>
            <tr class="bcblack cwhite">
                <td></td>
                <td colspan="2">
                    <table class="w100p">
                        <tr>
                            <td colspan="2">Customer Counts</td>
                        </tr>
                        <tr>
                            <td>Recent Quarter</td>
                            <td>Rolling 12-Mo.</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr  class="bcblue">
                <td>Total File Size</td>
                <td>31,763,997</td>
                <td>31,763,997</td>
            </tr>
            <tr>
                <td >New current period</td>
                <td >445,155</td>
                <td >2,295,089</td>
            </tr>
            <tr  class="bcwhite">
                <td>Returning from last period</td>
                <td >779,103</td>
                <td >3,270,859</td>
            </tr>
            <tr>
                <td >Re-engaged in current period</td>
                <td >715,033</td>
                <td >953,347</td>
            </tr>
            <tr class="bcwhite">
                <td >No activity in current period</td>
                <td >1,515,432</td>
                <td >4,148,689</td>
            </tr>
            <tr>
                <td >No activity for 2+ periods</td>
                <td >28,309,274</td>
                <td >21,096,013</td>
            </tr>
            <tr class="bcwhite">
                <td >Becomming Acgtive/Lapsing Out (BALOR) index</td>
                <td >0.77</td>
                <td >0.78</td>
            </tr>
        </table>
        <span class="fwbolder"><br/>Counts represent US marketable customers - prior to 23-month active shoppers, ADS and ELF de-dupe suppression rules</span>

    </div>

    <div class="bcwhite tac img-rounded">
        <h3>Where were they last period?</h3>
        <div id="svg2" class="w880 tac"></div>
    </div>

</div>

<div class="panel panel-default pull-left lg30">
    <div class="panel-headin">
        <h1>Marketing Participation Impact</h1>
    </div>
    <div  class="panel-body tac w880 h220">

        <table class="w100p">
            <tr>
                <td colspan="5"> Direct Marketing Impact</td>
            </tr>
            <tr class="bcblack cwhite">
                <td class="w27p"></td>
                <td class="w20p">Household Counts</td>
                <td class="">ADS</td>
                <td class="w20p">Spend/Household</td>
                <td class="w20p">Transactions/Household</td>
            </tr>
            <tr class="bcblue">
                <td colspan="5">14-month Active Households</td>
            </tr>
            <tr class="bcwhite">
                <td>DM marketable</td>
                <td>2,425,732</td>
                <td>$63.78</td>
                <td>$140</td>
                <td>2.19</td>
            </tr>
            <tr>
                <td>DM + EM marketable</td>
                <td>4,378,568</td>
                <td>$65.47</td>
                <td>$270</td>
                <td>4.13</td>
            </tr>
            <tr class="bcwhite">
                <td>DM + SMS marketable</td>
                <td>12,042</td>
                <td>$56.9</td>
                <td>$307</td>
                <td>5.39</td>
            </tr>
            <tr>
                <td>DM + EM + SMS marketable</td>
                <td>87,505</td>
                <td>$58.78</td>
                <td>$474</td>
                <td>8.06</td>
            </tr>
            <tr class="bcwhite">
                <td>Total</td>
                <td>6,676,627</td>
                <td>$64.88</td>
                <td>$235</td>
                <td>3.62</td>
            </tr>
        </table>
        <br/><br/>

    </div>
    <div class="bcwhite tac img-rounded">
        <h3>Segment Performance indexed to population average</h3>
        <div id="svg3" class="w880 tac"></div>
    </div>


</div>