<style>

    body {
        font: 10px sans-serif;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .bar {
        fill: steelblue;
    }

    td, th {
        border: 1px solid #ccc;
        font-size: 16px;
        font-weight: bold

        /* border-width border-style border-color */
    }
</style>
<div style="background-color: lightgrey" class="panel panel-default">
    <div class="panel-heading">
        <h1>Revenue Generation</h1>
    </div>
    <div style="width:700px; text-align: center" class="panel-body">

        <table style="width: 100%; border: 1px; ">
            <tr>
                <td colspan="7"> All Customers</td>
            </tr>
            <tr style="background-color: black; color: white">
                <td style="width:26%"></td>
                <td colspan="3" style="width: 37%">
                    <table style="width: 100%">
                        <tr>
                            <td colspan="3">Sales</td>
                        </tr>
                        <tr>
                            <td>Recent Quarter</td>
                            <td>YTD</td>
                            <td>Rolling 12-Mo.</td>
                        </tr>
                    </table>
                </td>
                <td colspan="3" style="width: 37%">
                    <table style="width: 100%">
                        <tr>
                            <td colspan="3">YOY Change</td>
                        </tr>
                        <tr>
                            <td>Same &nbsp;&nbsp; Quarter</td>
                            <td>YTD</td>
                            <td>Rolling 12-Mo.</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="background-color: lightgrey">Total Revenue</td>
                <td style="background-color: #80c7e6">$433M</td>
                <td style="background-color: #80c7e6">$914M</td>
                <td style="background-color: #80c7e6">$2053M</td>
                <td style="background-color: #80c7e6">-0.1%</td>
                <td style="background-color: #80c7e6">2.5%</td>
                <td style="background-color: #80c7e6">6.0%</td>
            </tr>
            <tr>
                <td>Mens</td>
                <td>$165M</td>
                <td>$325M</td>
                <td>$724M</td>
                <td>26.7%</td>
                <td>27.3%</td>
                <td>33.0%</td>
            </tr>
            <tr style="background-color: lavender">
                <td>Womens</td>
                <td>$268M</td>
                <td>$589M</td>
                <td>$1329M</td>
                <td>-2.9%</td>
                <td>0.0%</td>
                <td>3.1%</td>
            </tr>
            <tr>
                <td>Online</td>
                <td>$52M</td>
                <td>$104M</td>
                <td>$245M</td>
                <td>2.9%</td>
                <td>4.4%</td>
                <td>8.4%</td>
            </tr>
            <tr style="background-color: lavender">
                <td>Store</td>
                <td>$382M</td>
                <td>$810M</td>
                <td>$1809M</td>
                <td>-1.9%</td>
                <td>1.4%</td>
                <td>4.7%</td>
            </tr>
            <tr>
                <td>CRM</td>
                <td>$61M</td>
                <td>$134M</td>
                <td>$367M</td>
                <td>-10.4%</td>
                <td>-8.3%</td>
                <td>11.5%</td>
            </tr>
            <tr style="background-color: lavender">
                <td>non-CRM</td>
                <td>$373M</td>
                <td>$779M</td>
                <td>$1687M</td>
                <td>1.7%</td>
                <td>4.6%</td>
                <td>4.8%</td>
            </tr>
        </table>
        <h3>Company Sales</h3>
    </div>

    <div id="svg" style="width:700px; text-align: center"></div>

</div>

