<style>

    p
    {
        font: 14px arial;
    }

    div
    {
        font:  10px arial;
        padding: 40px;
    }

    span
    {
        padding: 30px;
    }

</style>

<h1>kpi</h1>
<hr/>
<p>
    from: <input type="date" name="" id="from" data-ng-model="dtFrom"/>
    to: <input type="date" name="" id="to" data-ng-model="dtTo"/>
    <input type="radio" name="type" value="Complete" checked data-ng-model="type">Complete
    <input type="radio" name="type" value="Ongoing" data-ng-model="type">Ongoing
    <br>
    Campaign Type: 
    <select name="" id="ddlCtype" data-ng-model="campaignType">
        <option value="">ALL</option>
        <option value="General">General</option>
        <option value="Diversity">Diversity</option>
    </select>
    Program: 
    <select name="" id="ddlProgram" data-ng-model="program">
        <option value="">ALL</option>
        <option value="Movers">Movers</option>
        <option value="UVMM">UVMM</option>
        <option value="BUND">BUND</option>
        <option value="DSL">DSL</option>
        <option value="UVSL">UVSL</option>
        <option value="Diversity">Diversity</option>
        <option value="CING">CING</option>
        <option value="DISH">DISH</option>
        <option value="Winback">Winback</option>
        <option value="ACC">ACC</option>
        <option value="UVAQ">UVAQ</option>
    </select>
    Media type: 
    <select name="" id="ddlMtype" data-ng-model="mediaType">
        <option value="">ALL</option>
        <option value="Mass">Mass</option>
        <option value="Direct">Direct</option>
    </select>
    Region: 
    <select name="" id="ddlRegion" data-ng-model="region">
        <option value="">ALL</option>
        <option value="NATL">NATL</option>
        <option value="MW">MW</option>
        <option value="SW">SW</option>
        <option value="SE">SE</option>
        <option value="SNET">SNET</option>
        <option value="W">W</option>
    </select>
    Product: 
    <select name="" id="ddlProduct" data-ng-model="product">
        <option value="">ALL</option>
        <option value="OTH">OTH</option>
        <option value="UVMM">UVMM</option>
        <option value="BUND">BUND</option>
        <option value="DSL">DSL</option>
        <option value="UVSL">UVSL</option>
        <option value="DISH">DISH</option>
        <option value="LD">LD</option>
        <option value="CING">CING</option>
        <option value="UVAQ">UVAQ</option>
    </select>
    <button ng-click="query()">query</button>
</p>
<div id="gauge1">
    <span id="cost_per_saleGaugeContainer"></span>
    <span id="cost_per_callGaugeContainer" ></span>
    <span id="cost_per_clickGaugeContainer"></span>
</div>

<div id="gauge2">
    <span id="quantity_per_saleGaugeContainer"></span>
    <span id="quantity_per_callGaugeContainer"></span>
    <span id="quantity_per_clickGaugeContainer"></span>
</div>

